/* English Fonts */
@font-face {
    font-family: 'battambang-regular';
    src: url('./Battambang-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
@font-face {
    font-family: 'open-sans-regular';
    src: url('./OpenSans-VariableFont_wdth_wght.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

  /* Font Classes */
.font-km {
    font-family: 'battambang-regular', sans-serif;
  }
.font-en {
    font-family: 'open-sans-regular', sans-serif;
  }